<div clas = "container">
    @using UserModel.Models
    @model LoginUser
    <div class="d-flex justify-content-between">
        <h3>Login to this Cool Site!</h3>
        <a href="../">Register</a>
    </div>
    <form asp-action="LoginHandler" asp-controller="HomeController" method="POST">
        <div class = "d-flex justify-content-start">
            <div class = "form-group w-25">
                <span class = "text-danger" asp-validation-for="Email"></span>
                <label asp-for="Email"></label>
                <input class = "form-control" asp-for="Email">

                <span class = "text-danger" asp-validation-for="Password"></span>
                <label asp-for="Password"></label>
                <input class = "form-control" asp-for="Password">

                <button type="submit">Login</button>
            </div>
    </form>
</div>