<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/PortfolioStyle.css" />
        <title>Document</title>
    </head>
    <body>
        <div class = "main">
            <p> About | <a href = "/projects/">Projects</a> | <a href = "/contact/">Contact</a></p>
            <br />
            <h3>About Me</h3>
            <br />
            <div class = "flex-container">
                <div>
                    <p>Christian Chan</p>
                </div>
                <div>
                    <p> Placeholder Description </p>
                </div>
            </div>
        </div>
    </body>
</html>