<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <p>Random passcode (passcode #@ViewBag.GenCount )</p>
        @{
            var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
            var stringChars = new char[14];
            var random = new Random();

            for (int i = 0; i < stringChars.Length; i++)
            {
                stringChars[i] = chars[random.Next(chars.Length)];
            }

            string randomPass = new String(stringChars);
        }
        <form action="" method="POST">
            <input type="text" value=@randomPass disabled>
            <button type="submit">Generate</button>
        </form>
    </body>
</html>