<div class="container row">
    <div class = "col">
        <h4>Register</h4>
        <partial name="RegistrationPartial"/>
    </div>
    <div class = "col">
        <h4>Login</h4>
        <partial name="LoginPartial"/>
    </div>
</div>
