@using UserModel.Models
@model LoginUser
<div>
    <form asp-action="LoginHandler" asp-controller="Home" method="POST">
            
        <span class = "text-danger" asp-validation-for="Email"></span>
        <div class="form-group form-inline row">
            <label class="text-left col" asp-for="Email"></label>
            <input class = "form-control col" asp-for="Email">
        </div>

        <span class = "text-danger" asp-validation-for="Password"></span>
        <div class="form-group form-inline row">
            <label class="text-left col" asp-for="Password"></label>
            <input class = "form-control col" asp-for="Password">
        </div>
        <br/>
        <div class="form-group form-inline row">
            <p class="col"></p>
            <button class="col" type="submit">Login</button>
        </div>
    </form>
</div>