<div class = "flex">
    <form action="feed" method="POST">
        <button type="submit">Feed</button>
    </form>
    <form action="play" method="POST">
        <button type="submit">Play</button>
    </form>
    <form action="work" method="POST">
        <button type="submit">Work</button>
    </form>
    <form action="sleep" method="POST">
        <button type="submit">Sleep</button>
    </form>
</div>